body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  width: 100px;
  height: auto;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  color: rgb(192, 255, 5);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #ffc107;
}

.hero {
  background-image: url('./images/kal-visuals-sHrFQGWbyRE-unsplash.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
  background-position: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFD700;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #FFC800;
}

.services {
  padding: 40px 0;
  background-color: #f5f5f5;
  text-align: center;
}

.service {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  background-color: #ffffffe0;
  margin-bottom: 20px;
  border: 2px;
  border-radius: 20px;
}

.service-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}


.service:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.service h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #000000;
}

.service p {
  color: #000000;
}


.portfolio {
  padding: 50px 0;
  text-align: center;
}

.section-heading {
  font-size: 2rem;
  margin-bottom: 30px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.portfolio-item {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.portfolio-item img {
  max-width: 100%;
  border-radius: 5px;
}

.portfolio-item h3 {
  margin-top: 10px;
}

.portfolio-item p {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #777;
}

/* styles.css */

/* Estilos existentes */

.section {
  padding: 50px 0;
  text-align: center;
}

.plans-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.plan {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.plan h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.plan p {
  font-size: 1.1rem;
  margin: 8px 0;
}

.btn-comenzar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-comenzar:hover {
  background-color: #0056b3;
}


.video-list {
  justify-content: center; 
    align-items: center;
  display: flex;
  flex-wrap: wrap;
 
}

.video-item {
  width: 190px;
  margin: 10px;
  padding: 10px;
  background-color: #00c22a;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.video-item:hover {
  background-color: #fbff15;
}



@media (max-width: 768px) {
  .plans-container {
      flex-direction: column;
      align-items: center;
  }

  .plan {
      width: 80%;
      margin-bottom: 20px;
  }
}


.video-player {
  width: 100%;
  max-width: 700px; 
  height: auto;
  display: block;
  margin: 0 auto;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  max-width: 700px; 
  background-color: #740000;
  padding: 20px;
  text-align: center;
  position: relative;
}

.video-player {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.close-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.close-btn:hover {
  background-color: #555;
}


.contact {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

.contact-content {
  max-width: 600px;
  margin: 0 auto;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.contact-details {
  font-size: 1.1rem;
  line-height: 1.6;
}

.contact-details p {
  margin-bottom: 10px;
}

.contact-details a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-details a:hover {
  color: #0056b3;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
